@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0;
  background: transparent;
}

html {
  font-family: 'Inconsolata', monospace;
  scrollbar-width: none;
}

body {
  background-color: black;
  color: white;
}

.titlediv {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

.hintdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.invisiblediv {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.realanswerdiv {
  color: white;
  font-size: 24px;
  text-align: center;
}

.inputdiv {
  text-align: center;
}

#inputid {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 14px;
  font-size: 24px;
}

.buttons button {
  font-family: 'Inconsolata', monospace;
  padding: 6px 14px;
  margin-bottom: 4px;
  font-size: 24px;
}

.buttons a {
  text-decoration: none;
  color: black;
}

#levelbtn {
  display: none;
}

.answerp:hover::after {
  content: ': SCROLLBAR';
}
